---
{
  "name": "footer",
  "category": "footer",
  "class": "section-footer",
  "settings":
  [
    {
      "id": "brand",
      "type": "text",
      "label": "Text to display in the footer",
      "default": "Header"
    },
    {
      "id": "default_test",
      "type": "text",
      "label": "Test default key",
      "default": "value"
    },
    {
      "id": "other_default_test",
      "type": "text",
      "label": "Other test default key",
      "default": "other value"
    }
  ],
  "global_content":
  {
    "settings":
    {
      "brand": "MY COMPANY",
      "other_default_test": null
    },
    "blocks":
    [
      {
        "type": "link",
        "settings":
        {
          "label": "Link #1",
          "url": "https://www.nocoffee.fr",
          "new_tab": "true"
        }
      },
      {
        "type": "link",
        "settings":
        {
          "label": "Link #2",
          "url": "https://www.nocoffee.fr",
          "new_tab": "true"
        }
      }
    ]
  }
}
---

<h2>
  FOOTER PLAIN TEXT
</h2>
